// Scaffold provides a set of containers for your site
// which help with common navbar and footer layout challenges.

body {
  background: @body-bg;
}
.perimeter {
  height: 100%;
}
.content-inner {
  background: @content-bg;
  min-height: 100%;

 // vertically stack layout blocks, for full-viewport-height layouts
  display: flex;
  flex-flow: column;
}
.route-wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "full";

  > * {
    grid-area: full;
  }
}
